<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.recruit.mapper.AccountMapper">
	<!-- 회원가입 -->
	<insert id="insertAccount" parameterType="AccountVO">
		INSERT INTO member(   MEMBERID
	   					     , PASSWD 
	   					     , EMAIL
	   					  )
	                 VALUES(    #{memberId} 
	                  	      , #{passwd}
	                 		  , #{email})
    </insert>
    
    <!-- 로그인 -->
    <select id="selectAccountByIdAndPasswd" parameterType="AccountVO" resultType="AccountVO">
		SELECT MEMBERID, EMAIL, USERTYPE, REGDATE
		FROM member
		WHERE MEMBERID = #{memberId}
		AND PASSWD = #{passwd}   
	</select>
	
	<select id="selectCountByMemberId" parameterType="string" resultType="int">
		SELECT COUNT(memberID)
		FROM member
		WHERE MEMBERID = #{memberId}
	</select>
	
	<select id="searchMemberId" parameterType="string" resultType="String">
		SELECT MEMBERID
		FROM member
		WHERE EMAIL = #{email}
	</select>
	
	<select id="searchPasswd" parameterType="hashmap" resultType="String">
		SELECT PASSWD
		FROM member
		WHERE EMAIL = #{email}
		AND MEMBERID = #{memberId}
	</select>
    
</mapper>