<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.recruit.mapper.AdminMapper">

	<select id="selectAllMembers" resultType="AccountVO">
	SELECT MEMBERID, EMAIL, USERTYPE, REGDATE
	FROM member
	</select>
	
	<select id="selectMemberByMemberID" parameterType="string" resultType="AccountVO">
	SELECT MEMBERID, PASSWD, EMAIL, USERTYPE, REGDATE
	FROM member
	WHERE MEMBERID = #{ memberId }
	</select>

	<insert id="insertMember" parameterType="AccountVO">
	INSERT INTO member (memberId, passWd, email, userType, regDate)
	VALUES (#{ memberId }, #{passWd}, #{email}, #{userType}, #{regDate})
	</insert>

	<update id="updateMember" parameterType="AccountVO">
	UPDATE member
	SET EMAIL = #{ email }, USERTYPE = #{ userType }
	WHERE MEMBERID = #{ memberId }
	</update>
	
	<update id="updateMemberDeleted" parameterType="string">
	DELETE FROM member
	WHERE MEMBERID = #{ memberId }
	</update>

</mapper>