<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		   
<mapper
	namespace="com.recruit.mapper.MyInfoMapper">

	<select id="selectMyInfo" parameterType="String" resultType="MyInfoVO">
	SELECT *
	FROM MEMBER_DETAIL
	WHERE MEMBERID = #{ memberId }
	</select>
	
	<update id="updateMyInfo" parameterType="MyInfoVO">
	UPDATE MEMBER_DETAIL
	SET NAME = #{ name }, YEAR = #{ year }, GENDER = #{ gender },
	    DEGREE = #{ degree }, CAREER = #{ career }, WISH_SITE = #{ wish_site }
	WHERE MEMBERID = #{ memberId } 
	</update>
	
	<update id="updateFreeBoard" parameterType="FreeBoardVO">
	UPDATE MEMBER_DETAIL
	SET NAME = #{ name }, YEAR = #{ year }, GENDER = #{ gender }, DEGREE = #{ degree }, CAREER = #{ career }, WISH_SITE = #{ wish_site }
	WHERE MEMBERiD = #{ memberId }
	</update>
	
	<insert id="writeNewMyInfo" parameterType="MyInfoVO">
	INSERT INTO MEMBER_DETAIL (memberId, name, year, gender, degree, career, wish_site)
	VALUES (#{ memberId }, #{ name }, #{ year }, #{ gender }, #{ degree }, #{ career }, #{ wish_site })
	</insert>
	
</mapper>