<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace= "com.recruit.mapper.NewsMapper">
  		
  		<select id="selectNews" parameterType="hashmap" resultType="NewsVO">
  			select * from news limit 0, 20
  			<where>
  				<if test="title !=null">
  				TITLE = #{title}
  				</if>
  				<if test="date !=null">
  				DATE = #{date}
  				</if>
  				<if test="link !=null">
  				LINK = #{link}
  				</if>
  			</where>
  		</select>
  		
  		
  	</mapper>